{{extend 'layout.html'}}
<html>
<head>
	<link rel="stylesheet" href="{{=URL('static','css/style.css')}}">
</head>

<h1>Recipes</h1>
{{=grid}}
{{pass}}

<body id="recipes">
    {{=A('Back', _href=URL('default', 'index'))}}
    <br>

	{{=A('Create Recipe', _href=URL('default', 'addRecipe'))}}
	<br>

	{{=A('View Your Recipe', _href=URL('default', 'viewRecipe'))}}

	<br>
	<br>

	{{=A('Home', _href=URL('default', 'index'))}}
	&nbsp&nbsp&nbsp&nbsp
	{{=A('Ingredients', _href=URL('default', 'ingredients'))}}
	&nbsp&nbsp&nbsp&nbsp
	{{=A('Recipes', _href=URL('default', 'recipes'))}}
	&nbsp&nbsp&nbsp&nbsp
	{{=A('ShopList', _href=URL('default', 'shoplist'))}}
	&nbsp&nbsp&nbsp&nbsp
	{{=A('Support', _href=URL('default', 'support'))}}
</body>
